body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(146deg, rgb(85, 192, 196) 0%, rgb(89, 189, 127) 100% );
  height: 100vh;
}
button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
